@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold-Normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars A";
  src: url("../fonts/TT_Tsars_A-Light-Normal.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars A";
  src: url("../fonts/TT_Tsars_A-Regular-Normal.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars A";
  src: url("../fonts/TT_Tsars_A-Bold-Normal.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TT Tsars A";
  src: url("../fonts/TT_Tsars_A-Black-Normal.woff") format("woff");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Light-Normal.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Regular-Normal.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Medium-Normal.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  src: url("../fonts/Ubuntu-Bold-Normal.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  color: #000;
}

* {
  -webkit-tap-highlight-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
}

*:not(body):has(> img, > svg) {
  flex: 0 0 auto;
  font-size: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*::-moz-focus-inner {
  padding: 0;
  border: none;
}

:-moz-any-link {
  text-decoration: none;
}

:any-link,
abbr,
a {
  text-decoration: none;
}

textarea:focus-visible,
input:focus-visible,
:focus,
:active {
  outline: none;
}

:focus-visible {
  outline: 2px solid var(--outline-color, currentColor);
  outline-offset: 2px;
}

:disabled {
  cursor: default;
}

::-moz-placeholder {
  opacity: 1;
}

::placeholder {
  opacity: 1;
}

html,
body {
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  inline-size: 100%;
  block-size: 100%;
  font-size: 16px;
  line-height: 1;
}

html {
  scroll-behavior: smooth;
}

th,
textarea,
input,
button,
h6,
h5,
h4,
h3,
h2,
h1 {
  font-weight: inherit;
}

textarea,
input,
button,
h6,
h5,
h4,
h3,
h2,
h1 {
  font-size: inherit;
}

::-moz-placeholder {
  color: inherit;
}

::placeholder,
dialog,
mark,
textarea,
input,
button,
a {
  color: inherit;
}

address,
textarea,
input,
button {
  font-style: inherit;
}

dialog,
mark,
textarea,
input,
button {
  background: none;
}

label,
button {
  cursor: pointer;
}

textarea,
input,
button {
  font-family: inherit;
  line-height: inherit;
}

button {
  align-items: center;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

q::before,
q::after {
  content: none;
}

img {
  vertical-align: top;
}

svg {
  fill: currentColor;
  stroke: currentColor;
}

fieldset {
  min-inline-size: auto;
}

dialog,
textarea,
input {
  inline-size: 100%;
}

textarea,
input {
  display: block;
  caret-color: currentColor;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  appearance: none;
}

textarea {
  resize: vertical;
}

dialog {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  max-inline-size: none;
  block-size: 100%;
  max-block-size: none;
  overflow: auto;
  transition-property: opacity, visibility;
  transition-duration: 0.3s;
}

dialog:not([open]) {
  opacity: 0;
  visibility: hidden;
}

dialog::backdrop {
  background: none;
}

.ibg {
  position: relative;
  isolation: isolate;
  overflow: hidden;
}

.ibg img {
  position: absolute;
  inset: 0;
  z-index: -2;
  inline-size: 100%;
  block-size: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  padding: 0;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  white-space: nowrap;
  border: none;
  outline: none;
  outline-offset: 0;
}

html {
  scroll-padding-block-start: var(--header-height);
}

body {
  font-family: "Ubuntu", sans-serif;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.6);
  background-color: #000;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='a' x='0' y='0'%3E%3CfeTurbulence baseFrequency='.65' numOctaves='3' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Cpath d='M0 0h500v500H0z' filter='url(%23a)' opacity='.1'/%3E%3C/svg%3E");
  background-size: 1000px 1000px;
  background-repeat: repeat;
  pointer-events: none;
}

.scroll-lock body {
  overflow: clip;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  min-block-size: 100%;
  overflow: clip;
  transition-property: opacity, visibility;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.wrapper:not(.init) {
  opacity: 0;
  visibility: clip;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.container {
  max-inline-size: 1290px;
  margin-inline: auto;
  padding-inline: 15px;
}

.start {
  position: fixed;
  isolation: isolate;
  inset: 0;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

body:has(.start:not(.start--remove)) {
  overflow: clip;
}

.start--remove {
  pointer-events: none;
}

.start__animate {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  inline-size: 100%;
  background-color: #000;
  overflow: hidden;
}

.start:not(.start--remove) .start__animate::after {
  content: "";
  position: absolute;
  inset-block-start: -110%;
  inset-inline-start: -100%;
  inline-size: 300%;
  block-size: 300%;
  z-index: -1;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 500 500'%3E%3Cfilter id='a' x='0' y='0'%3E%3CfeTurbulence baseFrequency='.65' numOctaves='3' stitchTiles='stitch' type='fractalNoise'/%3E%3CfeBlend mode='screen'/%3E%3C/filter%3E%3Cpath d='M0 0h500v500H0z' filter='url(%23a)' opacity='.1'/%3E%3C/svg%3E");
  background-size: 1000px 1000px;
  background-repeat: repeat;
  will-change: transform;
  transform: translate3d(0, 0, 0);
  animation: grain 8s steps(10) infinite;
}

@keyframes grain {
  0%, 100% {
    transform: translate(0, 0);
  }

  10% {
    transform: translate(-5%, -10%);
  }

  20% {
    transform: translate(-15%, 5%);
  }

  30% {
    transform: translate(5%, -25%);
  }

  40% {
    transform: translate(-5%, 25%);
  }

  50% {
    transform: translate(-15%, 10%);
  }

  60% {
    transform: translate(15%, 0%);
  }

  70% {
    transform: translate(0%, 15%);
  }

  80% {
    transform: translate(5%, 35%);
  }

  90% {
    transform: translate(-10%, 10%);
  }
}

.start--remove .start__animate {
  opacity: 0;
  will-change: opacity, transform;
  transform: translateY(100%);
  transition-property: opacity, transform;
  transition-timing-function: linear;
  transition-duration: 0.3s;
}

.start__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  inline-size: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.start__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  inline-size: 100%;
}

.start__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  padding-block: 3.8888888889vmin;
}

.start__close {
  position: absolute;
  inset-block-start: -0.8333333333vmin;
  inset-inline-end: -0.8333333333vmin;
  z-index: 1001;
  inline-size: 14.4444444444vmin;
  aspect-ratio: 1/1;
  color: rgba(0, 0, 0, 0.2);
  transition-property: color, transform;
  transition-duration: 0.3s;
}

.start--remove .start__close {
  transform: translate(100%, -100%);
}

.start__close svg {
  width: 100%;
  height: 100%;
}

.start__logo {
  flex: 0 0 auto;
  block-size: 7.1296296296vmin;
  aspect-ratio: 248/77;
  font-size: 0;
}

.start--remove .start__logo {
  opacity: 0;
}

.start__logo img {
  -o-object-fit: contain;
  object-fit: contain;
}

.start__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 auto;
  margin-block-start: max(3.6111111111vmin, 10px);
}

.start__top {
  flex: 0 0 auto;
  block-size: 14.1666666667vmin;
  aspect-ratio: 541/153;
  margin-block-start: max(1.4814814815vmin, 10px);
  font-size: 0;
}

.start__top img {
  -o-object-fit: contain;
  object-fit: contain;
}

.start__inner {
  inline-size: 100%;
  max-inline-size: -webkit-min-content;
  max-inline-size: -moz-min-content;
  max-inline-size: min-content;
}

.start__info {
  display: flex;
  align-items: center;
  -moz-column-gap: max(2.1296296296vmin, 10px);
  column-gap: max(2.1296296296vmin, 10px);
  font-family: "TT Tsars A", serif;
}

.start__18 {
  font-size: 12.037037037vmin;
}

.start__text {
  font-size: 2.3148148148vmin;
}

.start__button {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  min-block-size: 5.5555555556vmin;
  margin-block-start: max(0.6481481481vmin, 5px);
  padding-block: 0.462962963vmin;
  padding-inline: 1.8518518519vmin;
  font-weight: 700;
  font-size: 1.8518518519vmin;
  text-align: center;
  border: 2px solid;
  border-radius: 0.9259259259vmin;
  will-change: color, background-color;
  transition-property: color, background-color;
  transition-duration: 0.3s;
}

.start__bottom {
  flex: 0 0 auto;
  block-size: 18.6111111111vmin;
  aspect-ratio: 493/201;
  margin-block-start: max(2.2222222222vmin, 10px);
  font-size: 0;
}

.start__bottom img {
  -o-object-fit: contain;
  object-fit: contain;
}

.start__policy {
  max-inline-size: 49.9074074074vmin;
  margin-block-start: max(6.6666666667vmin, 10px);
  font-family: "Inter", sans-serif;
  font-size: 1.4814814815vmin;
  text-align: center;
  color: #949494;
}

.start__policy a {
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #fff;
  will-change: color;
  transition-property: color;
  transition-duration: 0.3s;
}

.bottle {
  position: fixed;
  isolation: isolate;
  inset-block-end: -46.0185185185vmin;
  inset-inline-start: 50%;
  z-index: 500;
  block-size: 86.7592592593vmin;
  aspect-ratio: 251/937;
  transform: translateX(-50%);
  overflow: visible;
  transition-property: inset-block-end;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}

body:not(.start-animation) .bottle {
  inset-block-end: -100%;
}

.start-animation .bottle--animate {
  animation: scroll-bottle 1s linear forwards;
  animation-timeline: scroll();
}

.bottle img {
  -o-object-fit: contain;
  object-fit: contain;
}

.bottle__scroll {
  position: absolute;
  inset-block-start: 33.3333333333vmin;
  inset-inline-start: 50%;
  z-index: 1;
  inline-size: 7.6851851852vmin;
  aspect-ratio: 1/1;
  transform: translateX(-50%);
  pointer-events: none;
}

.bottle__scroll--hide {
  display: none;
}

.bottle__cap {
  position: absolute;
  inset-block-start: 0.1067235859%;
  inset-inline-start: 27.8884462151%;
  z-index: 2;
  block-size: 8.8580576307%;
  aspect-ratio: 109/83;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
}

.bottle--open .bottle__cap {
  opacity: 0;
  transform: translateY(-200%);
}

.bottle__cap img {
  -o-object-fit: contain;
  object-fit: contain;
}

.bottle__background {
  position: absolute;
  inset-block: 1.7598719317% 0.4791889007%;
  inset-inline: 0.438247012% 0.4661354582%;
  z-index: -3;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 249 917'%3E%3Cpath fill='%23000' fill-opacity='0.8' d='M9.9 916.4c74.5 0 223.8.2 224.8 0 8.8-6 20.5-20 10-36.6a76.3 76.3 0 0 1-9.4-37.2l3.5-132 3-111 1-43.2 2-51c.5-13 1.3-51.6 0-96-2-70-34.1-81.3-59.8-95.5-6.7-3.7-10-17-9.8-22.8 3.7-17.5 8.8-39 11.5-80.7l-1.7-30.1-6-33.4-6.9-29.7-2.3-1.8v-6.1l2.9-2.8.7-33.3-1.9-5.6v-9l1.4-4.6.5-25.2v-22c0-2.4-2.7-3.6-5.3-4.8h-.1C132.5.2 97.4-.4 83.5 2.4L83 9.2l-2.6.5v8.7L77.8 21v4.9l2.7 2.3L80 38l-2.6 1.6v17l-.4 10h4l-.5 40-3.5 3.9 2 1.5c-10.2 14.7-17 71.4-17 110.8 0 33.9 7.7 57.4 8.8 66.9 1.6 13.6-.2 18.5-15 27.7-18.3 11.5-29.3 11.4-41.5 32.3-9.9 16.6-12.5 56.6-11.9 65l6.8 202 4 109 1.1 122.9c.6 10.9-3 6.7-12.4 36.6-6.4 20.2 6 30.6 8 31.3Z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 249 917'%3E%3Cpath fill='%23000' fill-opacity='0.8' d='M9.9 916.4c74.5 0 223.8.2 224.8 0 8.8-6 20.5-20 10-36.6a76.3 76.3 0 0 1-9.4-37.2l3.5-132 3-111 1-43.2 2-51c.5-13 1.3-51.6 0-96-2-70-34.1-81.3-59.8-95.5-6.7-3.7-10-17-9.8-22.8 3.7-17.5 8.8-39 11.5-80.7l-1.7-30.1-6-33.4-6.9-29.7-2.3-1.8v-6.1l2.9-2.8.7-33.3-1.9-5.6v-9l1.4-4.6.5-25.2v-22c0-2.4-2.7-3.6-5.3-4.8h-.1C132.5.2 97.4-.4 83.5 2.4L83 9.2l-2.6.5v8.7L77.8 21v4.9l2.7 2.3L80 38l-2.6 1.6v17l-.4 10h4l-.5 40-3.5 3.9 2 1.5c-10.2 14.7-17 71.4-17 110.8 0 33.9 7.7 57.4 8.8 66.9 1.6 13.6-.2 18.5-15 27.7-18.3 11.5-29.3 11.4-41.5 32.3-9.9 16.6-12.5 56.6-11.9 65l6.8 202 4 109 1.1 122.9c.6 10.9-3 6.7-12.4 36.6-6.4 20.2 6 30.6 8 31.3Z'/%3E%3C/svg%3E");
}

.bottle__background img {
  inset-block: auto 0;
  inset-inline: 0;
  inline-size: auto;
  block-size: calc((727.49 + var(--bottle-rotate, 0) * 7) / 916 * 100%);
  aspect-ratio: 1/1;
  mix-blend-mode: hard-light;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 100% calc(var(--bottle-rotate) * 1.4 / 1080 * 100vmin);
  object-position: 100% calc(var(--bottle-rotate) * 1.4 / 1080 * 100vmin);
  transform: rotate(calc(var(--bottle-rotate) * -1deg)) scaleX(calc(1 + var(--bottle-rotate) / 100));
}

.bottle__jet {
  position: absolute;
  inset-block-end: 98%;
  inset-inline-start: 51.7928286853%;
  z-index: 1;
  inline-size: 14.7410358566%;
  transform: rotate(94deg);
  transform-origin: bottom right;
}

.fill-glass .bottle__jet {
  animation: fill-glass 2s linear forwards;
}

@keyframes fill-glass {
  0% {
    block-size: 0;
    opacity: 1;
  }

  25% {
    block-size: 36.2860192102%;
  }

  75% {
    block-size: 27.7481323372%;
  }

  100% {
    block-size: 0;
    opacity: 0;
  }
}

body:has(.strength--move) .bottle__jet {
  visibility: hidden;
}

.bottle__jet img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.hero {
  position: relative;
  isolation: isolate;
}

.hero__icon {
  position: absolute;
  inset-block-start: 3.2407407407vmin;
  inset-inline-end: 1.9444444444vmin;
  z-index: 1;
  inline-size: 8.1481481481vmin;
  aspect-ratio: 1/1;
  pointer-events: none;
}

.hero__icon img {
  -o-object-fit: contain;
  object-fit: contain;
}

.hero__background {
  position: absolute;
  inset: 0;
  z-index: -1;
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}

body:not(.start-animation) .hero__background {
  transform: translateY(-6.9444444444vmin);
}

.hero-top {
  position: relative;
  min-block-size: 100vh;
  padding-block: 3.8888888889vmin;
}

.hero-top__logo {
  block-size: 7.2201489039vmin;
  margin-inline: auto;
  aspect-ratio: 248/77;
  font-size: 0;
}

.hero-top__logo img {
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-top__text {
  max-inline-size: 75.3703703704vmin;
  margin-block-start: max(8.5185185185vmin, 10px);
  margin-inline: auto;
  font-family: "TT Tsars A", serif;
  font-weight: 300;
  font-size: 3.7037037037vmin;
  line-height: 1.35;
  text-align: center;
  color: #000;
  transition-property: opacity, transform;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-delay: 0.3s;
}

body:not(.start-animation) .hero-top__text {
  opacity: 0;
  transform: translateY(50%);
}

.hero-bottom {
  position: relative;
  isolation: isolate;
  inset: 0;
  min-block-size: 100vh;
  padding-block: 10.7407407407vmin;
  animation: blur 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 50%;
  will-change: backdrop-filter;
  transform: translate3d(0, 0, 0);
}

@keyframes blur {
  0%, 50% {
    -webkit-backdrop-filter: blur(0);
    backdrop-filter: blur(0);
  }

  100% {
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}

.hero-bottom__content {
  max-inline-size: 44.4444444444vmin;
  transform: translateY(50%);
  animation: up 1s linear forwards;
  animation-timeline: view();
  animation-range: entry 50%;
}

@keyframes up {
  from {
    transform: translateY(50%);
  }

  to {
    transform: translateY(0);
  }
}

.hero-bottom__content > *:last-child {
  margin-block-end: 0;
}

.hero-bottom__title {
  margin-block-end: 2.5vmin;
  font-family: "TT Tsars A", serif;
  font-size: 4.6296296296vmin;
  color: #fff;
}

.hero-bottom__text {
  max-inline-size: 40.9259259259vmin;
  margin-block-end: 4.7222222222vmin;
  font-weight: 300;
  font-size: 1.8518518519vmin;
}

.hero-bottom__image {
  position: absolute;
  inset-block-end: 0;
  inset-inline-end: 0;
  z-index: -1;
  block-size: 83.9814814815vmin;
  aspect-ratio: 1202/907;
  overflow: visible;
}

.hero-bottom__image img {
  -o-object-fit: contain;
  object-fit: contain;
}

.hero-bottom__smoke {
  position: absolute;
  inset-block-end: 64.7222222222vmin;
  inset-inline-start: 22.962962963vmin;
  z-index: 1;
  block-size: 55.0925925926vmin;
  aspect-ratio: 463/595;
  transform: scale(0);
  transform-origin: bottom;
  animation: smoke 10s linear forwards infinite;
}

@keyframes smoke {
  0% {
    transform: scale(0) rotateY(0) translateY(0);
  }

  75% {
    transform: scale(1) rotateY(45deg) translateY(0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1) rotateY(60deg) translateY(-10%);
    opacity: 0;
  }
}

.hero-bottom__smoke--2 {
  animation-delay: 5s;
  rotate: y 180deg;
}

.combination {
  max-inline-size: 40.2777777778vmin;
  padding-inline-end: 1.4814814815vmin;
}

.combination__list {
  display: grid;
  grid-template-columns: repeat(4, minmax(8.3333333333vmin, auto));
  row-gap: 1.7592592593vmin;
  -moz-column-gap: 1.3888888889vmin;
  column-gap: 1.3888888889vmin;
  padding-block: 2.5vmin;
}

.combination__list:not(:last-child) {
  border-block-end: 1px solid;
}

.combination__list:first-child {
  padding-block-start: 0;
}

.combination__list:last-child {
  padding-block-end: 0;
}

.combination__label {
  display: flex;
  align-items: center;
  min-inline-size: 10.9259259259vmin;
  min-block-size: 8.3333333333vmin;
  font-size: 1.4814814815vmin;
  color: #fff;
}

.combination-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 2px;
  text-align: center;
}

.combination-item__icon {
  flex: 0 0 auto;
  inline-size: 8.3333333333vmin;
  aspect-ratio: 1/1;
  font-size: 0;
}

.combination-item__icon img {
  -o-object-fit: contain;
  object-fit: contain;
}

.combination-item__label {
  font-size: 1.4814814815vmin;
  color: #666;
}

.aging {
  display: grid;
  grid-template-columns: 1.1927083333fr 0.8072916667fr;
  align-items: center;
  min-block-size: 100vh;
}

.aging__image {
  block-size: 100%;
}

.aging__image > picture img,
.aging__image > img {
  transition-property: opacity;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.aging:not(.aging--animate) .aging__image > picture img,
.aging:not(.aging--animate) .aging__image > img {
  opacity: 0;
}

.aging__cover {
  position: absolute;
  inset-block: 0;
  inset-inline-start: 0;
  z-index: 1;
  inline-size: 87.3362445415%;
  background-color: #000;
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: linear;
}

.aging--animate .aging__cover {
  transform: translateX(-100%);
}

.aging__handle {
  position: absolute;
  inset-block-start: 50%;
  inset-inline-end: 0;
  z-index: 1;
  inline-size: 26.5%;
  aspect-ratio: 265/499;
  transform: translateY(-50%);
}

.aging__handle img {
  -o-object-fit: contain;
  object-fit: contain;
}

.aging__content {
  padding-inline-start: 4.3518518519vmin;
  padding-inline-end: max((100vw - 1290px) / 2, 15px);
}

.aging__content > *:last-child {
  margin-block-end: 0;
}

.aging__title {
  margin-block-end: 4.7222222222vmin;
}

.aging__text {
  font-weight: 300;
  font-size: 1.8518518519vmin;
  line-height: 1.4;
}

.image-year {
  position: absolute;
  inset-block-end: 11.2037037037vmin;
  inset-inline-start: max((100vw - 1290px) / 2 + 30px, 15px);
  font-family: "TT Tsars A", serif;
  display: inline-flex;
  align-items: baseline;
  font-weight: 700;
  color: #000;
}

.image-year__item {
  font-size: 16.6666666667vmin;
}

.image-year__text {
  font-size: 5.1851851852vmin;
}

.aging-title {
  font-family: "TT Tsars A", serif;
}

.aging-title__text {
  font-weight: 300;
  font-size: 3.7037037037vmin;
  color: #fff;
}

.aging-year {
  position: relative;
  isolation: isolate;
  display: inline-flex;
  align-items: baseline;
  gap: 11px;
  font-weight: 700;
  color: #dab988;
}

.aging-year__item {
  font-size: 16.6666666667vmin;
}

.aging-year__text {
  font-size: 7.4074074074vmin;
}

.aging-year__icon {
  position: absolute;
  inset-block-start: 2.3148148148vmin;
  inset-inline-end: -7.962962963vmin;
  z-index: -1;
  block-size: 11.3888888889vmin;
  aspect-ratio: 130/123;
}

.aging-year__icon img {
  -o-object-fit: contain;
  object-fit: contain;
}

.strength {
  position: relative;
}

.strength-top {
  position: relative;
  isolation: isolate;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.strength-top__container {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  inline-size: 100%;
}

.strength-top__inner {
  display: flex;
  align-items: end;
  flex: 1 1 auto;
  padding-block: 25.9259259259vmin;
}

.strength-top__background {
  position: absolute;
  inset-block-start: 0;
  inset-inline: 0;
  z-index: -1;
  block-size: 100vh;
  transition-property: opacity;
  transition-duration: 2s;
}

.strength--move .strength-top__background {
  block-size: 200vh;
  opacity: 0;
  transform: translateX(-25%);
  transition-property: block-size, opacity, transform;
  transition-duration: 2s;
  transition-delay: 0s;
}

.strength-top__background img {
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.strength-text {
  position: relative;
  isolation: isolate;
  max-inline-size: 48.1481481481vmin;
  font-family: "TT Tsars A", serif;
  font-weight: 300;
  font-size: 3.7037037037vmin;
  color: #fff;
}

.strength-text__icon {
  position: absolute;
  inset-block-start: -7.8703703704vmin;
  inset-inline-end: 5vmin;
  z-index: -1;
  inline-size: 11.8518518519vmin;
  aspect-ratio: 1/1;
}

.strength-text__icon img {
  -o-object-fit: contain;
  object-fit: contain;
}

.strength-bottom {
  position: relative;
  z-index: 3;
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
}

.strength-bottom__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  flex: 1 1 auto;
  inline-size: 100%;
}

.strength-bottom__inner {
  max-inline-size: 37.037037037vmin;
}

.strength-bottom__inner > *:last-child {
  margin-block-end: 0;
}

.strength-bottom__icon {
  margin-block-end: 1.7592592593vmin;
  margin-inline-start: auto;
  inline-size: 11.1111111111vmin;
  aspect-ratio: 1/1;
}

.strength-bottom__temperature {
  margin-block-end: 1.9444444444vmin;
  font-family: "TT Tsars A", serif;
  font-weight: 700;
  font-size: 7.4074074074vmin;
  color: #fff;
}

.strength-bottom__label {
  margin-block-end: 2.5925925926vmin;
  font-family: "TT Tsars A", serif;
  font-weight: 300;
  font-size: 3.7037037037vmin;
  color: #fff;
}

.strength-bottom__text {
  font-weight: 300;
  font-size: 1.8518518519vmin;
  line-height: 1.4;
}

.glass {
  position: absolute;
  isolation: isolate;
  inset-block-start: 44.2592592593vmin;
  inset-inline-start: calc(50% + 10.2777777778vmin);
  z-index: 1;
  block-size: 36.9444444444vmin;
  aspect-ratio: 332/399;
  transition-property: inset-block-start, inset-inline-start;
  transition-duration: 1s;
}

.strength--move .glass {
  inset-block-start: calc(100vh + 47.2222222222vmin);
  inset-inline-start: calc(50% - 45.3703703704vmin);
  transition-duration: 1s;
}

.glass img {
  -o-object-fit: contain;
  object-fit: contain;
}

.glass__empty {
  position: absolute;
  inset: 0;
  overflow: visible;
}

.strength--move .glass__empty {
  visibility: hidden;
}

.glass__whiskey {
  position: absolute;
  inset-block-end: 6.1203007519%;
  inset-inline-start: 8.4668674699%;
  z-index: 1;
  inline-size: 83.1325301205%;
  block-size: 10.5263157895%;
  transition-property: block-size;
  transition-duration: 1.5s;
}

.fill-glass .glass__whiskey {
  block-size: 39.0977443609%;
  transition-delay: 0.5s;
}

.strength--move .glass__whiskey {
  visibility: hidden;
}

.glass__whiskey img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: 50% 100%;
  object-position: 50% 100%;
}

.glass__full {
  position: absolute;
  inset-block-end: 6.1203007519%;
  inset-inline-start: 8.4668674699%;
  z-index: 2;
  inline-size: 83.1325301205%;
  block-size: 94.4862155388%;
}

.strength:not(.strength--move) .glass__full {
  opacity: 0;
}

.fill-glass .strength:not(.strength--move) .glass__full {
  transition-property: opacity;
  transition-duration: 0.5s;
  opacity: 1;
  transition-delay: 2s;
}

.strength--move .glass__full {
  visibility: visible;
  transition: none;
}

.glass__ices {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-start: 100%;
  z-index: 3;
  block-size: 82.2055137845%;
  aspect-ratio: 436/328;
  opacity: 0;
  transform: scale(0);
  visibility: visible;
  transition-property: inset-block-start, inset-inline-start, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass__ices {
  transition-duration: 0.5s;
  transition-delay: 1s;
  inset-block-start: -41.6040100251%;
  inset-inline-start: -103.9156626506%;
  opacity: 1;
  transform: scale(1);
}

.glass-ices {
  position: absolute;
  isolation: isolate;
  inset-block-end: -5.9097744361%;
  inset-inline-start: -159.0361445783%;
  z-index: -1;
  block-size: 213.2832080201%;
  aspect-ratio: 1312/851;
  visibility: visible;
  overflow: clip;
}

.glass-ices__main {
  position: absolute;
  inset: 0;
  opacity: 0;
  transform: scale(0);
  transform-origin: bottom;
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass-ices__main {
  transition-duration: 0.5s;
  transition-delay: 1s;
  opacity: 1;
  transform: scale(1);
}

.glass-ices__right {
  position: absolute;
  inset-block-start: 100%;
  inset-inline-end: 100%;
  z-index: 1;
  block-size: 26.0869565217%;
  aspect-ratio: 190/222;
  opacity: 0;
  transform: scale(0);
  transition-property: inset-block-start, inset-inline-end, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass-ices__right {
  transition-duration: 0.5s;
  transition-delay: 1s;
  inset-block-start: 28.2021151586%;
  inset-inline-end: 5.7926829268%;
  opacity: 1;
  transform: scale(1);
}

.glass-ices__center {
  position: absolute;
  inset-block-start: 75%;
  inset-inline-end: 50%;
  z-index: 1;
  block-size: 21.8566392479%;
  aspect-ratio: 184/186;
  opacity: 0;
  transform: scale(0);
  transition-property: inset-block-start, inset-inline-end, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass-ices__center {
  transition-duration: 0.5s;
  transition-delay: 1s;
  inset-block-start: 11.1633372503%;
  inset-inline-end: 31.0975609756%;
  opacity: 1;
  transform: scale(1);
}

.glass-ices__small {
  position: absolute;
  inset-block-start: 90%;
  inset-inline-start: 41.387195122%;
  z-index: 1;
  block-size: 15.2761457109%;
  aspect-ratio: 124/130;
  opacity: 0;
  transform: scale(0);
  transition-property: inset-block-start, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass-ices__small {
  transition-duration: 0.5s;
  transition-delay: 1s;
  inset-block-start: 17.508813161%;
  opacity: 1;
  transform: scale(1);
}

.glass-ices__left {
  position: absolute;
  inset-block-start: 90%;
  inset-inline-start: 28.2774390244%;
  z-index: 1;
  block-size: 11.1633372503%;
  aspect-ratio: 124/95;
  opacity: 0;
  transform: scale(0);
  transition-property: inset-block-start, opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
}

.strength--move .glass-ices__left {
  transition-duration: 0.5s;
  transition-delay: 1s;
  inset-block-start: 15.0411280846%;
  opacity: 1;
  transform: scale(1);
}

.glass-ices__group {
  position: absolute;
  inset-block-start: 15.6286721504%;
  inset-inline-start: 22.8658536585%;
  z-index: 1;
  block-size: 53.3490011751%;
  aspect-ratio: 709/454;
  opacity: 0;
  transform: scale(0);
  transition-property: opacity, transform;
  transition-duration: 0.3s;
  transition-timing-function: linear;
  transform-origin: bottom;
}

.strength--move .glass-ices__group {
  transition-duration: 0.5s;
  transition-delay: 1s;
  opacity: 1;
  transform: scale(1);
}

@media (hover: hover) {
  :focus-visible:hover {
    outline: none;
  }

  .start__close:hover {
    color: #000;
  }

  .start__button:hover {
    color: #000;
    background-color: #fff;
  }

  .start__policy a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
}